.cg-input, .cg-button, .cg-message {
    @apply flex w-full justify-start border-neutral-800 bg-gradient-to-b from-zinc-200 backdrop-blur-2xl dark:border-gray-300 dark:from-inherit rounded-xl border-2 bg-gray-200 p-4 m-2 dark:bg-zinc-800/30;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
    background: white;
}

.cg-icon {
    @apply flex w-full p-4 m-0;
}

.cg-icon.record {
    @apply !text-red-600;
}

.cg-block {
    @apply flex border-neutral-800 bg-gradient-to-b from-zinc-200 backdrop-blur-2xl dark:border-gray-300 dark:from-inherit bg-gray-200 dark:bg-zinc-800/30;
}

.camera {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.logo {
    mix-blend-mode: darken;
}

@media not all and (min-width: 640px) {
    .max-sm\:translate-3d-0 {
        transform:translateZ(0)
    }
}

#app-root {
    color: white;
}